# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes â€” Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [12]:
os.chdir('/Users/josevans/Desktop/Springboard/Step 2')
os.getcwd()
df = pd.read_csv('step3_output.csv')

In [28]:
df_alt = pd.read_csv('step3_output_dfno2.csv').drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

,Name,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Alyeska Resort,Alaska,3939,2500,250,1,0.0,0,2,2,...,1610.0,113.0,150.000000,60.0,669.000000,65.000000,85.00000,150.000000,550.0,0
1,Eaglecrest Ski Area,Alaska,2600,1540,1200,0,0.0,0,0,0,...,640.0,60.0,45.000000,44.0,350.000000,47.000000,53.00000,90.000000,0.0,0
2,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,0,0,...,30.0,30.0,150.000000,36.0,69.000000,30.000000,34.00000,152.000000,30.0,0
3,Arizona Snowbowl,Arizona,11500,2300,9200,0,0.0,1,0,2,...,777.0,104.0,122.000000,81.0,260.000000,89.000000,89.00000,122.000000,0.0,1
4,Sunrise Park Resort,Arizona,11100,1800,9200,0,0.0,0,1,2,...,800.0,80.0,115.000000,49.0,250.000000,74.000000,78.00000,104.000000,80.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,Meadowlark Ski Lodge,Wyoming,9500,1000,8500,0,0.0,0,0,0,...,300.0,0.0,115.103943,9.0,185.316456,57.916957,64.16681,120.053004,0.0,1
303,Sleeping Giant Ski Resort,Wyoming,7428,810,6619,0,0.0,0,0,0,...,184.0,18.0,61.000000,81.0,310.000000,42.000000,42.00000,77.000000,0.0,2
304,Snow King Resort,Wyoming,7808,1571,6237,0,0.0,0,0,1,...,400.0,250.0,121.000000,80.0,300.000000,59.000000,59.00000,123.000000,110.0,2
305,Snowy Range Ski & Recreation Area,Wyoming,9663,990,8798,0,0.0,0,0,0,...,75.0,30.0,131.000000,59.0,250.000000,49.000000,49.00000,120.053004,0.0,1
306,White Pine Ski Area,Wyoming,9500,1100,8400,0,0.0,0,0,0,...,370.0,0.0,115.103943,81.0,150.000000,57.916957,49.00000,120.053004,0.0,1

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [13]:
dummies = df['state']
df = pd.concat([df.drop('state', axis=1), pd.get_dummies(dummies)], axis=1)

In [29]:
dummies = df_alt['state']
df_alt = pd.concat([df_alt.drop('state', axis=1), pd.get_dummies(dummies)], axis=1)

df_alt.head()

,Name,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Alyeska Resort,3939,2500,250,1,0.0,0,2,2,0,...,0,0,0,0,0,0,0,0,0,0
1,Eaglecrest Ski Area,2600,1540,1200,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Hilltop Ski Area,2090,294,1796,0,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Arizona Snowbowl,11500,2300,9200,0,0.0,1,0,2,2,...,0,0,0,0,0,0,0,0,0,0
4,Sunrise Park Resort,11100,1800,9200,0,0.0,0,1,2,3,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Name,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2,2,Hilltop Ski Area,2090,294,1796,0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,4,Sunrise Park Resort,11100,1800,9200,0,0.0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,5,5,Yosemite Ski & Snowboard Area,7800,600,7200,0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,8,Boreal Mountain Resort,7700,500,7200,0,0.0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,9,9,Dodge Ridge,8200,1600,6600,0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [15]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [31]:
X_alt = df_alt.drop(['Name','AdultWeekend'], axis=1)
y_alt = df_alt.AdultWeekend
scaler_alt = preprocessing.StandardScaler().fit(X_alt)
X_scaled_alt = scaler_alt.transform(X_alt)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [16]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [32]:
y_alt = y_alt.ravel()
X_train_alt, X_test_alt, y_train_alt, y_test_alt = train_test_split(X_scaled_alt, y_alt, test_size=0.25, random_state=12)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes â€” Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [17]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [33]:
lm_alt = linear_model.LinearRegression()
model_alt = lm_alt.fit(X_train_alt,y_train_alt)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [18]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test

y_pred = model.predict(X_test)

In [34]:
y_pred_alt = model_alt.predict(X_test_alt)

## Review Model Outcomes â€” Iterate over additional models as needed

In [36]:
print(y_pred)
print(y_pred_alt)

[51.01175232 57.94388427 47.37069847 44.36856522 59.10190961 48.30248604
 55.29623732 83.97974065 37.10559688 45.22860509 77.55036028 80.94137448
 46.9201969  61.39142126 56.4322693  42.58520747 45.84565213 33.19094433
 34.74773295 37.51614626 48.06553249 49.61246307 62.73983751 52.56358443
 35.42763215 70.77349101 58.96597582 31.3068683  60.04495279 63.33178519
 48.41579584 80.89315918 91.39872879 70.49001522 49.96491714 78.65629205
 48.33339333 79.60698431 63.01397598 48.51615288 53.19110593 34.72530534
 66.15973198 31.83593044]
[ 55.25611121  95.20532996  59.31861121  67.18189246  56.26001746
  77.84009559  39.96900184  37.29956824  58.47876746  43.79615028
  65.77759559  73.63697059  41.62818153  61.30689246  62.65943153
  75.54517371  45.82642371  75.42798621  36.22193153  24.55493934
  71.88794715  68.73267371  63.48072059 102.44361121  41.08841712
  45.47681434  75.59790809  77.02368934  52.84790809  47.78443153
  65.01197059  31.76392371  65.63306434  41.25806434  66.56470496
  66.40845496  87.6027909   79.88697059  65.95142371  70.48169715
  61.04126746  41.1809159   64.57251746  79.78931434  62.07642371
  61.90650184  37.92212684  77.31763465  36.97486121  56.09668738
  56.25186927  61.62818153  32.68384559  80.68579871  61.91944129
 112.71970374  73.20142371  66.41822059  65.27613074  56.90650184
  60.48267371  54.73657996  73.71900184  80.04907996  55.24439246
  47.49600989  45.41431434  37.18384559  43.83951575  55.22486121
  62.95337684  69.94165809  86.48267371  78.83032996  89.9231034
  59.04126746  53.48657996]

In [37]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

mae = mean_absolute_error(y_test, y_pred)
evs = explained_variance_score(y_test, y_pred)

mae_alt = mean_absolute_error(y_test_alt, y_pred_alt)
evs_alt = explained_variance_score(y_test_alt, y_pred_alt)

print(mae, evs)
print(mae_alt, evs_alt)

6.83827553253619 0.5842276618280899
6.020763270832043 0.7805486477599557

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [39]:
print(model.intercept_)
print(model_alt.intercept_)

56.2293916073612
62.60767371254151

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [25]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coeff_df = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
coeff_df.sort_values('Coefficient', ascending=False).head(10)

                   Coefficient
summit_elev          27.946112
base_elev            24.424074
AdultWeekday          9.152022
projectedDaysOpen     2.313763
Wyoming               2.280059
averageSnowfall       2.101669
Unnamed: 0            2.079478
Unnamed: 0.1          2.079478
SkiableTerrain_ac     1.896153
Massachusetts         1.867818

In [40]:
coeff_df_alt = pd.DataFrame(abs(lm_alt.coef_), X_alt.columns, columns=['Coefficient'])
coeff_df_alt.sort_values('Coefficient', ascending=False).head(10)

               Coefficient
total_chairs  2.389771e+13
fastEight     1.234736e+13
surface       1.014565e+13
fastQuads     9.036317e+12
double        8.965786e+12
triple        8.934920e+12
quad          6.766631e+12
trams         2.531067e+12
fastSixes     2.249354e+12
New York      1.206362e+12

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [43]:
df2 = pd.read_csv('step3_output.csv')

df2.drop('state', axis=1, inplace=True)

X2 = df2.drop(['Name','AdultWeekend'], axis=1)
y2 = df2.AdultWeekend
scaler2 = preprocessing.StandardScaler().fit(X2)
X2_scaled = scaler2.transform(X2) 

y2 = y2.ravel()
X2_train, X2_test, y2_train, y2_test = train_test_split(X2_scaled, y2, test_size=0.25, random_state=123)

lm2 = linear_model.LinearRegression()
model2 = lm2.fit(X2_train,y2_train)

y2_pred = model2.predict(X2_test)

In [46]:
coeff_df2 = pd.DataFrame(abs(lm2.coef_), X2.columns, columns=['Coefficient'])
coeff_df2.sort_values('Coefficient', ascending=False).head(10)

                   Coefficient
AdultWeekday          9.526709
summit_elev           7.878433
base_elev             7.487908
SkiableTerrain_ac     2.822292
triple                1.759666
vertical_drop         1.746269
TerrainParks          1.181771
projectedDaysOpen     1.123341
total_chairs          1.076426
quad                  1.058486

In [71]:
df2_alt = pd.read_csv('step3_output_dfno2.csv')

df2_alt.drop(['state', 'Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

X2_alt = df2_alt.drop(['Name','AdultWeekend'], axis=1)
y2_alt = df2_alt.AdultWeekend
scaler2_alt = preprocessing.StandardScaler().fit(X2_alt)
X2_scaled_alt = scaler2_alt.transform(X2_alt) 

y2_alt = y2_alt.ravel()
X2_train_alt, X2_test_alt, y2_train_alt, y2_test_alt = train_test_split(X2_scaled_alt, y2_alt, test_size=0.25, random_state=356)

lm2_alt = linear_model.LinearRegression()
model2_alt = lm2_alt.fit(X2_train_alt,y2_train_alt)

y2_pred_alt = model2_alt.predict(X2_test_alt)

In [47]:
coeff_df2_alt = pd.DataFrame(abs(lm2_alt.coef_), X2_alt.columns, columns=['Coefficient'])
coeff_df2_alt.sort_values('Coefficient', ascending=False).head(10)

                   Coefficient
AdultWeekday         17.811494
summit_elev           7.836916
base_elev             6.293317
vertical_drop         4.579366
SkiableTerrain_ac     2.468805
quad                  1.518962
clusters              1.440652
daysOpenLastYear      1.303944
NightSkiing_ac        1.276374
fastSixes             0.936678

In [72]:
mae2 = mean_absolute_error(y2_test, y2_pred)
evs2 = explained_variance_score(y2_test, y2_pred)

mae2_alt = mean_absolute_error(y2_test_alt, y2_pred_alt)
evs2_alt = explained_variance_score(y2_test_alt, y2_pred_alt)

print(mae2, evs2)
print(mae2_alt, evs2_alt)

6.912523513049072 0.6807915923166145
5.6459003851643645 0.8852605167333026

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [56]:
df3 = pd.read_csv('step3_output.csv')

df3.drop(['state', 'summit_elev', 'base_elev'], axis=1, inplace=True)

X3 = df3.drop(['Name','AdultWeekend'], axis=1)
y3 = df3.AdultWeekend
scaler3 = preprocessing.StandardScaler().fit(X3)
X3_scaled = scaler3.transform(X3) 

y3 = y3.ravel()
X3_train, X3_test, y3_train, y3_test = train_test_split(X3_scaled, y3, test_size=0.25, random_state=2345)

lm3 = linear_model.LinearRegression()
model3 = lm3.fit(X3_train,y3_train)

y3_pred = model3.predict(X3_test)

In [57]:
coeff_df3 = pd.DataFrame(abs(lm3.coef_), X3.columns, columns=['Coefficient'])
coeff_df3.sort_values('Coefficient', ascending=False).head(10)

                   Coefficient
AdultWeekday         10.497210
vertical_drop         3.562743
SkiableTerrain_ac     1.700211
projectedDaysOpen     1.665821
Snow Making_ac        1.574607
double                1.428885
clusters              1.405863
quad                  1.379724
TerrainParks          1.376071
Runs                  1.296915

In [79]:
df3_alt = pd.read_csv('step3_output_dfno2.csv')

df3_alt.drop(['state', 'Unnamed: 0', 'Unnamed: 0.1', 'summit_elev', 'base_elev'], axis=1, inplace=True)

X3_alt = df3_alt.drop(['Name','AdultWeekend'], axis=1)
y3_alt = df3_alt.AdultWeekend
scaler3_alt = preprocessing.StandardScaler().fit(X3_alt)
X3_scaled_alt = scaler3_alt.transform(X3_alt) 

y3_alt = y3_alt.ravel()
X3_train_alt, X3_test_alt, y3_train_alt, y3_test_alt = train_test_split(X3_scaled_alt, y3_alt, test_size=0.25, random_state=67)

lm3_alt = linear_model.LinearRegression()
model3_alt = lm3_alt.fit(X3_train_alt,y3_train_alt)

y3_pred_alt = model3_alt.predict(X3_test_alt)

In [54]:
coeff_df3_alt = pd.DataFrame(abs(lm3_alt.coef_), X3_alt.columns, columns=['Coefficient'])
coeff_df3_alt.sort_values('Coefficient', ascending=False).head(10)

                   Coefficient
AdultWeekday         16.749676
vertical_drop         2.692009
SkiableTerrain_ac     2.587246
daysOpenLastYear      1.853873
quad                  1.833674
surface               1.167655
NightSkiing_ac        1.127144
triple                0.945110
fastSixes             0.880530
clusters              0.829774

In [80]:
mae3 = mean_absolute_error(y3_test, y3_pred)
evs3 = explained_variance_score(y3_test, y3_pred)

mae3_alt = mean_absolute_error(y3_test_alt, y3_pred_alt)
evs3_alt = explained_variance_score(y3_test_alt, y3_pred_alt)

print(mae3, evs3)
print(mae3_alt, evs3_alt)

7.9306540428141945 0.6439602526523436
6.073486267214131 0.8242163174110118

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell â€” you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [73]:
model_df = pd.DataFrame({'Model': ['Model 1.', 'Model 2.', 'Model 3.'], 'Explained Variance': [evs, evs2, evs3], 'Mean Absolute Error': [mae, mae2, mae3], 'Features Dropped': ['-', 'state', 'state, summit_elev, base_elev']})
model_df

,Model,Explained Variance,Mean Absolute Error,Features Dropped
0,Model 1.,0.584228,6.838276,-
1,Model 2.,0.680792,6.912524,state
2,Model 3.,0.643960,7.930654,"state, summit_elev, base_elev"

In [81]:
model_df_alt = pd.DataFrame({'Model': ['Model 1.', 'Model 2.', 'Model 3.'], 'Explained Variance': [evs_alt, evs2_alt, evs3_alt], 'Mean Absolute Error': [mae_alt, mae2_alt, mae3_alt], 'Features Dropped': ['-', 'state', 'state, summit_elev, base_elev']})
model_df_alt

,Model,Explained Variance,Mean Absolute Error,Features Dropped
0,Model 1.,0.780549,6.020763,-
1,Model 2.,0.885261,5.645900,state
2,Model 3.,0.824216,6.073486,"state, summit_elev, base_elev"

In [86]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(random_state=900, n_estimators=1000, max_depth=None, max_features=10, min_samples_split=2, min_samples_leaf=1, bootstrap=False)
regressor.fit(X2_train_alt, y2_train_alt)
regressor.score(X2_test_alt, y2_test_alt)


y_pred_RFR = regressor.predict(X2_test_alt)

maeRFR = mean_absolute_error(y2_test_alt, y_pred_RFR)
evsRFR = explained_variance_score(y2_test_alt, y_pred_RFR)

print(maeRFR, evsRFR)

5.719976402737089 0.8549419179298721